<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
	<head>
	    <title>又见IE6，升级一下吧</title>
	    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/base.css">
	    <style type="text/css">
	    	h1 {font-family: "Open Sans",sans-serif; } 
	    	#intro {background: url("{{MEDIA_URL}}/img/bad_ie.jpg") no-repeat scroll center top #000000; color: #006CB7;
	    			position: relative;}
	    	.container {margin: 0 auto; width: 960px; padding-top: 240px; padding-bottom: 270px;}
	    	#intro h1 {color: #FFFFFF; font-size: 100px; font-weight: 300; line-height: 100%; margin: 0 0 40px; } 
	    </style>
	</head>

	<body>
	 	<div id="intro">
	 		<div class="container tc">
	 			<h1>Go Dark For IE</h1>
	 			<h2>又见IE6.0，不可否认你是一个“怀旧”的人，换一扇观察互联网世界的窗户吧！是时候对IE6说再见了<a href="http://v.youku.com/v_show/id_XMjc4MzYxMTY0.html" target="_blank">点击观看</a>。你可以选择高版本的IE，或者更加现代的浏览器如：Chrome、FireFox等。
	 				当然，你也你可以&nbsp;<a href="/?ignoreie6">继续访问</a></h2>
	 		</div>
	 	</div>
	 	<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "//hm.baidu.com/hm.js?817c9895d98074d6a2b4ae58ff60e01e";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</body>

</html>
