{% load i18n %}
{% load custom_filters %}
<dl class="comment_list" id="comment_{{c.id}}">
    <!-- <dt><a href="{{c.user.get_url}}"><img src="{{c.user.get_icon_middle}}" /></a></dt> -->
    <dd>
        <p>
            <a href="{{c.user_href|default:"javascript:void(0);"}}" {% if c.user_href %}target="_blank"{% endif %}>{{c.nick}}</a>&nbsp;&nbsp;
            <span class="co8">{{c.create_time|time_format}}</span>
        </p>
        <table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed">
            <tr>
                <td width="100%" style="word-break:break-all; word-wrap:break-word;">{{c.content|safe}}</td>
            </tr>
            <tr>
                <td>
                    {% if c.delete_flag %}
                    <a class="fr f12" onclick="remove_comment('{{ c.id}}')" href="javascript:void(0);">{% trans '删除' %}</a>
                    <span class="fr f12" style="padding:0 5px;">|</span>
                    {% endif %}
                    <a class="fr f12" onclick="click_reply('{{c.nick}}');" href="javascript:void(0);">{% trans '回复' %}</a>
                </td>
            </tr>
        </table>
        <div class="blank0"></div>
    </dd>
	<!-- <div class="dotline mart10"></div> -->
</dl>